@import "tailwindcss";
@import "./components.css";
@import "./theme.css";

@layer base {
  ::-webkit-scrollbar {
    width: calc(var(--spacing) * 4);
  }

  ::-webkit-scrollbar-thumb {
    background: var(--color-primary);
    border: var(--spacing) solid var(--color-background);
    border-radius: calc(var(--spacing) * 2);
  }

  html,
  body {
    @apply bg-background text-text flex min-h-screen flex-col overflow-x-hidden;
  }

  button,
  .btn {
    @apply not-disabled:cursor-pointer;
  }

  img {
    @apply select-none;
  }

  ::selection {
    background: var(--color-primary);
    color: var(--color-primary-contrast);
  }

  .selection-contrast::selection,
  .selection-contrast *::selection {
    background: var(--color-primary-contrast);
    color: var(--color-primary);
  }
}
